*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    border: 2px solid black;
    background-color: #efefef;
    padding: 10px;
}
.slide-container{
    padding: 10px 40px;
    width: 100%;
    background-color: grey;
}
.slide-content{
    margin: 0 45px;
    background-color: rgb(105, 103, 103);
    width: fit-content;
}
.card{
    max-width: 350px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 10%;
    background-color: #fff;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.image-content{
    position: relative;
    width: 100%;
}
.card-content,.image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    /* border: 2px solid black; */

}
.card-image{
    display: flex;
    position: relative;
    /* max-height: 300px; */
    max-width: 200px;
    background-color: #fff;
    padding: 3px;
}
.card-img{
    border: 4px solid #4070F4;
}
.card-img, .card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8%;
}
.name{
    font-size: 1.5em;
    font-weight: 600;
}
.description{
    font-size: 0.7em;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    border-radius: 6px;
    background-color: #4070F4;
    padding: 10px;
    margin: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #265DF2;
}
